/* ROOT */
:root {
  --padding: 24px;
  /* var(--padding) */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #F5B700;
  --color-green: #CBFF5B;
  --color-pink: #E8AEB7;
  --color-blue: #5CB8FF;
}

/* INITIAL RULES */
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;

  font-family: 'Slabo 13px', sans-serif;

  background-color: #ffffff;
  color: #000000;
}

main {
  background: linear-gradient(to bottom, #E8AEB7, #ffffff);
}

/* FONT */
h1 {
  margin: 0;
  font-size: 100px;
}
h2 {
  margin: 0;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}
h3 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
h4 {
  margin: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
a:hover {
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
}

.a-button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  text-transform: uppercase;
  text-decoration: none;
  color: black;

  padding: 8px 16px;
  width: auto;

  border: 1px solid var(--color-black);
  border-radius: 50px;
}
.a-button:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.cta-circle {
  width: 300px;
  height: 300px;
  padding: 24px;

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  border: 1px solid #000;
  border-radius: 100%;
}

/* STYLE */
.section-title {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 16px;

  position: sticky;
  top: 91px;

  background-color: var(--color-white);
  border: 1px solid #000;
}


/* HEADER / NAVIGATION */
header {
  margin: 0;
  width: 100%;
  height: auto;
  padding: var(--padding);

  z-index: 1;
  
  position: sticky;
  top: 0;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}

.tickets:hover {
  background: linear-gradient(to bottom, #E8AEB7, #ffffff); 
}
.about:hover:hover {
  background: linear-gradient(to bottom, #5CB8FF, #ffffff); 
}
.news:hover {
  background: linear-gradient(to bottom, #CBFF5B, #ffffff); 
}
.merch:hover {
  background: linear-gradient(to bottom, #E8AEB7, #ffffff); 
}
.reviews:hover {
  background: linear-gradient(to bottom, #F5B700, #ffffff); 
}

/* HERO */
.hero {
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: var(--padding);

  background-color: var(--color-white);
}
.hero-text {
  width: 50%;
}

.cta-hero {
  position: absolute;
  right: 24px;
}


/* SCHEDULE */
.schedule-wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background: linear-gradient(to bottom, #fff, #CBFF5B);
}

.schedule-bar {
  margin: 24px 16px;
  padding: 24px;

  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;

  border: 1px solid #000;
  border-radius: 50px;
}

.schedule-accordion {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 16px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  background-color: #0000;
  border: 1px solid #000;
}
.accordion-s1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accordion-s2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.panel {
  width: 100%;

  border-bottom: 0px solid #000;
}
.schedule-panel {
  width: 100%;
  padding: 16px;

  display: flex;
  justify-content: flex-end;
}
.schedule-p {
  width: 50%;
}

/* DONATE */
.donate-wrapper {
  width: 100%;
  height: 50vh;
  margin: 0;
  padding: var(--padding);

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;

  background-color: var(--color-blue);
}
.donate-section {
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
}





.marketplace {
  background: linear-gradient(to bottom, #F5B700, #ffffff) !important; 
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 450px;
  height: 450px;
  left: 1446px;
  top: 487px;
  border: 2px solid #000000;
  border-radius: 50%;
}


.donate {
  background-color: #5CB8FF;
}

.schedule {
  background: linear-gradient(to bottom, #ffffff, #CBFF5B);
}

/* DONATE */

.donate {
  background-color: #5CB8FF;
  position: relative;
  height: 570px;
  padding: var(--padding);

  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  width: 450px;
  height: 450px;
  right: 146px;
  bottom: 60px;

  border: 1px solid var(--color-black);
  border-radius: 50%;
}

.donate-bottom {
  margin-top: auto;
}

/* FOOTER */

footer {
  background-color: var(--color-white);
  text-align: center;
  padding: var(--padding);

}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left,
.footer-right {
  width: 50%;
  border: 1px solid var(--color-black);
}