/* ROOT */
:root {
  /* --padding: 20px; */
  /* var(--padding) */
}

/* INITIAL RULES */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #ffffff;
}

main {
  background: linear-gradient(to bottom, #E8AEB7, #ffffff);
}

/* HEADER / NAVIGATION */

header {
  background-color: #ffffff;
}

.navbar_main {}

.navbar_main li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 127px;
  height: 50px;
  border: 1px solid #000000;
  border-radius: 35px;
}

/* FOOTER */

footer {
  background-color: #ffffff;
}

/* CLASSES */

.hero {
  background-color: #ffffff;
}

.top {}

.marketplace {
  background: linear-gradient(to bottom, #F5B700, #ffffff);
  !important
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 450px;
  height: 450px;
  left: 1446px;
  top: 487px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.discover {}

.donate {
  background-color: #5CB8FF;
}

.schedule {
  background: linear-gradient(to bottom, #ffffff, #CBFF5B);
}